@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


html,
body,
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

#navbar-dashboard {
    background: #EBEDF2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18);


}

#sidebar {
    background: #EBEDF2;
}

#ul-sidebar {
    margin-top: 5rem;
}

.li-sidebar {
    margin-bottom: 2.5rem;
    font-family: "Inter", sans-serif;
    font-size: 11pt;
}

.li-sidebar2 {

    margin-bottom: 0.8rem;
    font-family: "Inter", sans-serif;
    font-size: 11pt;
}

#link-sidebar:hover {
    background: transparent;
}

#title-dashboard {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
}

#icon-sidebar {
    margin-left: 1rem;
}

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    gap: 2px;

}

#input:focus {
    border: none;
    outline: #EBEDF2;
}

#container-options-dashboard,
#container-notify-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid rgba(86, 86, 86, 0.25);
    background: #EBEDF2;
    margin-right: 2rem;
    margin-left: 0.4rem;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}


#container-options-dashboard:hover,
#container-notify-dashboard:hover {
    background: #D9D9D9;
}

#container-profile-dashboard {
    border: 2px solid rgba(86, 86, 86, 0.25);
    margin-right: 2rem;
    margin-left: 0.4rem;
    width: 3rem;
    height: 3rem;
}

.avatar-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#options-profile {
    margin-top: 3.5rem;
    margin-left: 8rem;
    right: 2rem;
    padding: 1rem;
    align-self: start;
}



.li-option-profile {
    font-family: "Inter ", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 10pt;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    align-self: flex-start;
}


#a-option-profile:hover {
    background: transparent !important;
    color: #A200FF;
}


#container-information-profile {
    margin-bottom: 1rem;
}

#name-user {
    font-family: "Inter ", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 10pt;
}

#title-user{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "Manrope", sans-serif;
    font-size: 20pt;
    font-weight: 400;
}

#title-card {
    align-self: flex-start;
    margin-top: -2rem;
    font-family: "Work Sans", sans-serif;
    font-size: 15pt;
    font-weight: normal;
}

.quantity-information {
    font-family: "Roboto Flex";
    font-size: 20pt;
}

.nameDashboard {
    font-family: "Work Sans", sans-serif;
    font-size: 20pt;
    font-weight: 400;
}

#btn-hover:hover,
#summary-hover:hover {
    background: transparent;
    color: #A200FF;
}

#btn-hover:focus,
#summary-hover:focus {
    outline: none;
}

#btn-PDF{
    padding: 1rem;
    background: rgb(67, 61, 242);
    color: white;
    transition: all 1.9 ease-in-out;
    font-family: "Work Sans", sans-serif;
}

#btn-PDF:hover {
    padding: 1rem;
    background: rgb(67, 61, 242, 0.45);
    color: black;
}

#btn-Add {
    padding: 1rem;
    background: rgba(59,72,89);
    color: white;
    font-family: "Work Sans", sans-serif;
}

#btn-Add:hover{
    padding: 1rem;
    background: rgb(67, 72, 89, 0.4);
    color: black;
}

@keyframes fade {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}
