@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Potta+One&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  @apply w-full min-h-screen;
}


.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  @apply w-full h-screen;
}

.hero-image {
  position: absolute;
  top: 0;
  @apply w-full h-full object-cover object-center;
  line-height: 0;
}

.border-line {
  position: absolute;
  top: 103vh;
  left: 0;
  z-index: 10;
  border: none;
  background: transparent;
  width: 100%;
  @apply  border-t border-gray-400/80;
}

.border-line2 {
  position: absolute;
  top: 194vh;
  left: 0;
  border:none;
  background: transparent;
  width: 100%;
  @apply border-t border-gray-400/80;
}

.spacer {
  @apply w-full h-screen;
}


.section-brand {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3;
}

.section-info {
  margin-left: 3rem;
}

#section-image{
  margin-right: 3rem;
}

.title {
  font-family: "Potta One", cursive;
  font-size: 25pt;
  text-align: center;
  
}

.body-info , ul{
  font-family: "Gentium Plus";
  font-size: 19pt;
  text-align: start;
  padding-top: 2rem;
}

li, .icon {
  display: flex;
  align-items: center;
  font-family: "Gentium Plus";
}

.icon {
  margin-right: 1rem;
}

#Leaf{
  color: green;
}

#Truck {
  color: blueviolet;
}

#Box {
  color: #A27;
}

.Hero-section-cards {
  margin-top: 6rem;
}

@media (max-width: 768px) {


  .hero-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
  }

 
  .hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
  }


  .spacer {
    height: 45vh; 
    width: 100%;
  }
  .border-line {
    top: 50vh;
  }

  .section-brand {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;

  }

  #Section-image {
    width: 100%;
    
  }

  .section-info {
    margin: 0 auto;
    width: 90%;
    text-align: start;
  }

  .section-info .title {
    font-size: 22pt;
    line-height: 1.3;
    text-align: start;
  }

  .section-info .body-info {
    font-size: 14pt;
    margin-top: 1rem;
  }

  .section-info ul {
    margin-top: 1.5rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
  }

  .section-info li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    gap: 0.5rem;
  }

  .section-info .icon {
    font-size: 18pt;
  }
}