@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Potta+One&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  @apply w-full min-h-screen;
}


.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  @apply w-full h-screen;
}

.hero-image {
  position: absolute;
  top: 0;
  @apply w-full h-full object-cover object-center;
  line-height: 0;
}

.border-line {
  position: absolute;
  top: 103vh;
  left: 0;
  z-index: 10;
  border: none;
  background: transparent;
  width: 100%;
  @apply  border-t border-gray-400/80;
}

.border-line2 {
  position: absolute;
  top: 184vh;
  left: 0;
  border:none;
  background: transparent;
  width: 100%;
  @apply border-t border-gray-400/80;
}

.spacer {
  @apply w-full h-screen;
}


.section-brand {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3;
}

.section-info {
  margin-left: 3rem;
}

#section-image{
  margin-right: 3rem;
}

.title {
  font-family: "Potta One", cursive;
  font-size: 25pt;
  text-align: center;
}

.body-info , ul{
  font-family: "Gentium Plus";
  font-size: 19pt;
  text-align: start;
  padding-top: 2rem;
}

li, .icon {
  display: flex;
  align-items: center;
  font-family: "Gentium Plus";
}

.icon {
  margin-right: 1rem;
}

#Leaf{
  color: green;
}

#Truck {
  color: blueviolet;
}

#Box {
  color: #A27;
}

.Hero-section-cards {
  margin-top: 5rem;
}