@import "tailwindcss";


/* Estilos globales opcionales */

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}